# Exclude everything...
**/*

# ... except these selected files and folders...
!/gcp/
!/README.md
!/LICENSE.md
!/deploy/
!/exchange-files-in-browser/

# ... but always exclude all node_modules
**/node_modules/
