<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      telepathy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col
        col-xs-12 offset-xs-0
        col-sm-8 offset-sm-2
        col-md-6 offset-md-3
        col-lg-4 offset-lg-4
        col-xl-4 offset-xl-4
      >
        <img id="target-logo" src="assets/imgs/logo.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
